@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "roboto";
  src: local("ROBOTO"), url("./assets/Fonts/roboto.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: local("OPEN-SANS"),
    url("./assets/Fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Play Fair";
  src: local("PLAYFAIRDISPLAY"),
    url("./assets/Fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  scroll-behavior: smooth;
  color: black;
  font-family: "roboto";
}

.open-sans {
  font-family: "Open Sans";
}

.playfair {
  font-family: "Play Fair";
}

.button {
  /* font-family: "roboto"; */
  @apply open-sans inline-flex items-center bg-primary font-bold lg:text-[16px] font-bold text-white py-3 px-6 lg:py-4 lg:px-6 rounded-full hover:scale-105 hover:shadow-lg shadow-primary transition duration-300 ease-in-out;
}

.containers {
  @apply mx-auto lg:w-[1100px] py-[64px] px-5 lg:px-0 md:px-10;
}

.header-text {
  font-family: "Play Fair";
  @apply text-header md:text-[24px] lg:text-[36px] font-bold;
  color: "#1C1C1C";
}

.body-text {
  @apply text-body md:text-[16px] lg:text-[20px] text-gray-700;
}

.card-header {
  @apply text-cardheader md:text-[18px] lg:text-[24px];
}

.card-body {
  @apply text-cardbody md:text-[14px] lg:text-[16px];
}

/* styles.css */
.custom-gradient {
  background: linear-gradient(90deg, #ecf8ed 0%, #319639 25%, #1e5c23 100%);
  padding: 1rem;
  text-align: center;
}

@media (max-width: 767px) {
  .custom-gradient {
    background: linear-gradient(180deg, #ecf8ed 10%, #319639 55%, #1e5c23 100%);
    padding: 0.5rem;
  }
}
